# Example .gitmodules entry
# [submodule "projects/PROJECT_NAME"]
# 	path = projects/PROJECT_NAME
# 	url = YOUR_GITHUB_URL

[submodule "projects/OnBoard-template"]
	path = projects/OnBoard-template
	url = https://github.com/hackclub/OnBoard-template

[submodule "projects/winter"]
    path = projects/Winter
    url = https://github.com/hackclub/winter/