# Example .gitmodules entry
# [submodule "PROJECT_NAME"]
# 	path = projects/PROJECT_NAME
# 	url = YOUR_GITHUB_URL

[submodule "OnBoard-template"]
	path = OnBoard-template
	url = https://github.com/hackclub/OnBoard-template

[submodule "Winter"]
    path = projects/Winter
    url = https://github.com/hackclub/winter/
[submodule "projects/winter"]
	path = projects/winter
	url = https://github.com/hackclub/winter
